.refer_container {
  .subDesc {
    color: #fff;
    text-align: center;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 14px;
    // margin-bottom: 8px;
    margin-top: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 2px dotted #ffea00;
    padding: 2px 8px;
    margin-bottom: 12px;
    border-radius: 20px;
  }
  .description_refer {
    color: #fff;
    text-align: center;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 2px 8px;
    margin-bottom: 12px;
    border-radius: 20px;
    span {
      margin-left: 4px;
    }
  }
  .inputBox {
    border-radius: 8px !important;
    border: 1px solid #000 !important;
    background: #fff !important;
    margin-top: 20px;
    padding: 8px 10px !important;
    border-radius: 4px;
    input {
      background: #f1f1f1 !important;
      color: #128300;
      //   text-align: center;
      font-family: "Nunito Sans", sans-serif;
      font-size: 24px !important;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      @media screen and (max-width: 600px) {
        font-size: 20px;
      }
    }
  }
  .redeem_button {
    border: none;
    color: #fff;
    font-size: 10px !important;
    font-weight: 700;
    width: 100%;
    height: auto !important;
    &:hover {
      color: #fff !important;
    }
    background: linear-gradient(180deg, #19b600 -15%, #0b5000 153.75%);
    padding: 10px 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
    &:disabled {
      background: #7a7a7a !important;
      color: #505050 !important;
    }
  }
  .rules {
    color: #737373;
    text-align: center;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media screen and (max-width: 600px) {
      font-size: 16px !important;
    }
  }
  .card1 {
    border-radius: 16px;
    font-family: "Nunito Sans", sans-serif !important;
    padding: 16px;
    margin-bottom: 20px;
    background-image: url("../Assets/refer/bg1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .refer_percent {
      background: linear-gradient(90deg, #000000 0%, #4d4d4d 100%);
      width: fit-content;
      color: #ffea00;
      padding: 4px 8px;
      border-radius: 20px 0px 0px 20px;
      margin-right: -16px;
    }
  }
  .card2 {
    border-radius: 16px;
    font-family: "Nunito Sans", sans-serif !important;
    padding: 16px;
    margin-bottom: 20px;
    background-image: url("../Assets/refer/bg2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card3 {
    border-radius: 16px;
    font-family: "Nunito Sans", sans-serif !important;
    padding: 16px;
    background-image: url("../Assets/refer/bg3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
  }
  .desc {
    color: #fff;
    text-align: center;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .earn_heading {
    color: #fff;
    text-align: center;
    font-family: "Nunito Sans", sans-serif !important;

    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .redeem_heading {
    color: #fff;
    font-family: "Nunito Sans", sans-serif !important;

    text-align: center;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .commission_title {
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin: 8px 0px;
  }
  .commission_desc {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    span {
      color: yellow;
      font-size: 16px;
    }
  }
}
.whatsappBtn {
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans", sans-serif !important;
  font-size: 24px !important;
  background: #128300;
  border-radius: 12px !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: auto !important;
  padding: 5px 20px !important;
  @media screen and (max-width: 600px) {
    font-size: 20px !important;
  }
}
