.rulesContainer {
  .heading {
    color: #161616;
    // text-align: justify;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.5rem;
  }
  .desc {
    color: #161616;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;

    span {
      font-weight: 500;
    }
    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
    a {
      color: #1677ff !important;
    }
  }
  .payment_detail_box_container {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 16px;
    border-radius: 4px;
    background-color: #eaedf1 !important;
    .main_divider {
      margin: 10px 0 !important;
    }
    .payment_desc_green {
      color: #169a00 !important;
    }
    .payment_option_box {
      color: rgb(233, 237, 241) !important;
      background: linear-gradient(
        90deg,
        rgb(8, 36, 66) 0%,
        rgb(8, 36, 66) 47%,
        rgb(4, 24, 45) 100%
      ) !important;
      padding: 2px 4px;
      border-radius: 2px;
    }
  }
}
